@import "tailwindcss";

@theme {
  --color-aegean-white: #F8F9FA;
  --color-aegean-deep: #003580;
  --color-aegean-sky: #0071C2;
  --color-aegean-sand: #D4AF37;
  --color-aegean-mist: #E1E8ED;

  --radius-none: 0px;
  --radius-sm: 2px;
  --radius-default: 4px;

  @keyframes sparkle {
    0% { transform: translateX(-100%) skewX(-15deg); }
    100% { transform: translateX(200%) skewX(-15deg); }
  }
}